{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Monitoring der Stuttgarter Brücke</h1>
<p>Diese Seite dokumentiert das Monitoring der Stuttgarter Brücke.</p>
<p>
Das Monitoringkonzept verfolgt zunächst das Ziel des wissenschaftlichen Erkenntnisgewinns, wobei insbesondere die Spannungsverteilung auf Grund von Eigen- und Verkehrslasten sowie durch unterschiedliche Querverformungen zwischen Stahlbetonauflager und Holzbrückenträger im Bereich des integralen Stoßes von Interesse sind.
</p>

{% include "grundriss.html" %}
<script src='/static/javascript/startpage_actions_neu.js' type="text/javascript"></script>
<script src='/static/lib/javascript/velocity.min.js' type="text/javascript"></script>

{% endblock %}
